sudo: required
dist: trusty
language: php

cache:
  directories:
    - $HOME/.composer/cache/files
    - node_modules

addons:
  browserstack:
    username: ${BROWSERSTACK_USER}
    access_key:
      secure: "X5rYWmTBajo7zuJ88WBcE1C0avNwChG26wuOyRqoi2ibGRVM64pTF+eTn60Y12g3dUfoV20XtTSpIiRmwzK827mk4Zh0csn1oTd1UhZm01MYtnxCXbB8xphVWRTgnyJbZM+KDldlRZZyClY5RLW3qH/I+TTifuWcT+ptsijLIcu6vMNQ6Iqc0E5vUFflY3XrE20va9jnJkRe8E7HroR3c9SP7lN2dG8GnzOi6ode4WTIrkXlZ4T/k5dVUwD+h0VZPTwXagorsYrBAaV8jNt5M5cWSBd4KvK4Q2F8NKX2eOebLiQ47NdhPJXG7SLxPF88l7mtJVODKqxTXUFy6apU+vf9w3OY0fX967u74WEO2CQorYJ1HgC3yxbc5zUtlzjtLpKRCFkI2kPbz3gA5EKX6XydYAyGIBFr7ZqPtjLUF/3qZNP5lA2phVyO49Mc3sUBfZ0hzGy6uepgTx1PcRBCqDT4QXuNJJKMJ8Cmm0Sq8XZrzPFK9Y84lLgbGGbZhaulHhSXF8O2DlvIIFwWOU7PbV52KiUw4oO9G//qxWU1BKnLk5wne23j1uAmT20ueR8Rg1WsPqc1wPT8uFGg5ueiVrYgdizGxV5zsEwRiOto+nwQ6IJf77HUi0CxkRZOatYhRRH5zXnhBNCm+ZcUdpr806Q+vuyriBPNug04Fa6KaaY="

services:
  - mysql

env:
  global:
    - COMPOSER_ARGS="--no-interaction"
    - PLUGIN_NAME=WirecardElasticEngine
    - SHOPWARE_DIRECTORY=${HOME}/shopware
    - github_token:
        secure: "gH+IJRS0uQe2G/gg4nL0UgQxh4Tog16vQIBzWgQiFUjmQM/jMvUtw6kW4ixcusOPGR4rqKuLFCd8gbDg/I848VNDb7a+xg+wGm7KvognnbcxbnB0TcxNcPTGZUWXbSqGi3z8YhAaaa1LfrROM3qS4LeU3Bz+B7ZpdbA7xqzkmBRPgEdsv7OLmCwow2e6jreeGcCAqM34q84JavZkWcoHCQbLoknwyNCzilMKUN8fe+Ih46o1O0iuVOv9lAWIOLlAJJNcrX+kamv4RhrtDQwyVWsnDB2OO2Me4Lr4Bkqy9pN+diszgX8OzhOnkFl+ZXYTIUI5NxK3kAkd4lKOO3QgHIoveSmeoaS/mrC5kflNs6vN399Jm8X4gSmxUhkl01hEAfEqL+BiW2o22/Pq8WeMVVaQy3ONUwlSGGBkk/IkckbG/LzpJv5Jjztfi8Xfl9JF1jO/0BABsqodx/pEbDzIKKb3S/U/EHmCXV8zqmD67E/PIii3Y9kxeVaDNdWT5u4O69Pt9sR7csA8OL8YS8th/d825v4BTPswIFxn1vXB1sTKJZGwyO+fu53CE7qcZEMc/+NJnfLZBhIbV9SE1zVRsDPX1AiruPd/sXjYy01AR4SYdCO+RrdyVWoIE65hV/MOGgvu327jI13ZIpFE2PwE1fPj6JqTtrW5YugLCOQUGd0="

matrix:
  allow_failures:
    - stage: acceptance-test
  include:
  - php: 5.6
    if: type != cron
  - php: 7.0
    if: type != cron
  - php: 7.1
    if: type != cron
  - php: 7.2
    if: type != cron

  - &acceptance-test
    stage: acceptance-test
    if: type = cron
    php: 7.2
    env: GATEWAY=API-TEST
    install:
    - travis_retry composer require --dev $COMPOSER_ARGS satooshi/php-coveralls:^1.0
    - travis_retry composer install $COMPOSER_ARGS
    - travis_retry npm install
    - npm list --depth=0
    - composer show
    script:
    - php ${SHOPWARE_DIRECTORY}/bin/console wirecardelasticengine:payment:activate
    - npm run test:runner
    after_script: skip
#    after_failure:
#    - bash .bin/send-notify.sh
  - <<: *acceptance-test
    env: GATEWAY=NOVA

install:
  - travis_retry composer require --dev $COMPOSER_ARGS satooshi/php-coveralls:^1.0
  - travis_retry composer install $COMPOSER_ARGS
  - travis_retry npm install
  - npm list --depth=0
  - composer show

before_script:
  # install apache
  - sudo apt-get update
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - if [[ ${TRAVIS_PHP_VERSION:0:3} != "5.6" ]]; then sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf; fi
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - sudo sed -i -e "s,www-data,travis,g" /etc/apache2/envvars
  - sudo chown -R travis:travis /var/lib/apache2/fastcgi
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  - sudo cp -f build/travis-ci-apache /etc/apache2/sites-available/000-default.conf
  - sudo sed -e "s?%DOCUMENT_ROOT%?${SHOPWARE_DIRECTORY}?g" --in-place /etc/apache2/sites-available/000-default.conf
  - sudo service apache2 restart

  # install shopware
  - git clone https://github.com/shopware/shopware.git ${SHOPWARE_DIRECTORY} --branch 5.4
  - ant -f ${SHOPWARE_DIRECTORY}/build/build.xml -Dapp.host=localhost:8000 -Ddb.user=travis -Ddb.host=127.0.0.1 -Ddb.name=shopware build-unit
  - cp ${TRAVIS_BUILD_DIR}/build/travis-shopware-config.php ${SHOPWARE_DIRECTORY}/config.php
  - mv ${TRAVIS_BUILD_DIR} ${SHOPWARE_DIRECTORY}/custom/plugins/${PLUGIN_NAME}
  - php ${SHOPWARE_DIRECTORY}/bin/console sw:plugin:refresh
  - php ${SHOPWARE_DIRECTORY}/bin/console sw:plugin:install ${PLUGIN_NAME}
  - php ${SHOPWARE_DIRECTORY}/bin/console sw:plugin:activate ${PLUGIN_NAME}
  - php ${SHOPWARE_DIRECTORY}/bin/console sw:cache:clear
  - rm -rf ${SHOPWARE_DIRECTORY}/var/cache
  - cd  Tests/_data/ && php configure_payment_method_db.php creditcard
  - cd ${SHOPWARE_DIRECTORY}/custom/plugins/${PLUGIN_NAME}

script:
  - composer cs-check
  - npm run lint
  - composer test-coverage

after_script:
  - travis_retry composer upload-coverage
  - bash .bin/generate-tag.sh

after_failure:
  - sudo cat /var/log/apache2/error.log
  - cat ${SHOPWARE_DIRECTORY}/composer.lock
  - cat ${SHOPWARE_DIRECTORY}/var/log/*.log

before_deploy:
  - export REPO_NAME=`echo $TRAVIS_REPO_SLUG | awk -F'/' '{print $2}'`
  - export RELEASE_NOTES=$(composer make-release-notes)
  - bash .bin/generate-wiki-notes.sh
  - bash .bin/generate-readme-badge.sh
  - bash .bin/generate-release-package.sh $TRAVIS_TAG

deploy:
  provider: releases
  api_key:
    secure: DwXCN+QazZXIK5902xefD1L/LwNbVbWsHvic6ljYnQbkj7R4ZH57jpggYA71vtokWru5cgIgiyEzEDWVxWng5yriTlRSgALR9GhVK9RdJkxqvuijWq6FzOzMRUPZTMinjzfJgiHUy7hurKHWliII5Qezyep6y5Ys6kctqM4LdejMUBYbPOMFd5ey+sIelEn+atLNbi6JdPmUKbJZLG8ahHOdVK9TDfhawlyYuSYt1w+Lq/JdarkBcBU/tzTzZHbF9TqP4D8eeJGwyFqBy6qXmha2kFbE2d2WtelEi+/FJ9DbyYlCxg8N+Qe3Bjy8cNk9YJ0FvTtX4Jj2/V/5Qx4X8Tf6koqJEVy4XMvnFw5p2G9Qt7i1qGNxAwnG7b9NwasKNBkN4L9kMPBny77Ex5EBeD0qj8R6sD8G8LkudrJVvx7oGD82yDv63zWx94IqFj8TYeQGg9j+tTEZnpkRY5gD2DZRhu4Vq1CEMgMiAmEg6rC2Yp9fDVUrJ5wrRvpQjG96BsPTQfxaEedob5lQVyDd1svqaLNM1F0FjL5hGfzMZnRd/b0yvcrhnbXNsO71PuSbbXWYaPaz6aXp5fTnHln3c0CTWHvcmEIqMOdjnQiI6XVt8EUwTdgdbliMoM2+pKrKHfBuxjzHhb2fFmklqk0dKCDsMitmh1JbD/dg8OXzCgU=
  file: WirecardElasticEngine.zip
  name: "${REPO_NAME} ${TRAVIS_TAG}"
  body: "${RELEASE_NOTES}"
  skip_cleanup: true
  on:
    repo: wirecard/shopware-ee
    tags: true

notifications:
  email: false
  slack:
    rooms:
      secure: YI7sUrfMyKyJD60kElGkO7yBDkGEh+069yS8bFAIDUST7s48J+dDP/r2G9dN9oQwhs9hvNjpNytpZDPys838T+Z0mNtFZ9Wu022hV3MpbKUuMl7L9P0MQQmxjg4bKyKK3Hl9tPrZ3UsKRlwIUmRGGYQ7cjs4zumorqs19YsB3X+WnnxAmmYB3kHQYfNKgVnmcG2QHJyx5KaLZ0EsWynSHXkYb8bVCtdlbQFNnpChvGHPprZrHAszLCYnlU7AEZGdbuk17oIfXO9Wjuu1GV8iJ2VgKkTCzW4FBC5eHJyZezojPFUm1I5tvdihRZuyBekVGOF23J6pvHLqPx77clT+/Vn6T+UMDuh1INZ0LKt4UOU42oEDKGblWZx2VYWcHwfEK+ckJWZkT9EBfg/CMenJly2tbtBj6++XNvxgGEDn6XqKIEatcb7X/aiy4f8BPXa3/pzgZAlvzZbGGqHFNZPAlgcXBBXgbaC7VvMhvi6Z5AG5ylKzPS5GCD95ozPC+cGv0234TBJus5oZck4qNiT53IUQ7Ta+OGVB0Mea105VAoQI0I7YcgaqW6c4h2YTmnuuQsIzAwPOrJ5TAinj8Z8mZ9C11tEcNF3Pgy1tOoG/YLurhOJm7v1ebotRb/DIeSHU8RfNatnDSSky4YS6Y8k2pQthdC9m7m2f2mJYuGdLjlM=
    template:
      - "%{repository}#%{build_number} (%{branch} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
    on_success: change
    on_failure: change
