sudo: required
dist: trusty
language: php

cache:
  directories:
    - $HOME/.composer/cache/files
    - node_modules

addons:
  browserstack:
    username: ${BROWSERSTACK_USER}
    access_key:
      secure: "X5rYWmTBajo7zuJ88WBcE1C0avNwChG26wuOyRqoi2ibGRVM64pTF+eTn60Y12g3dUfoV20XtTSpIiRmwzK827mk4Zh0csn1oTd1UhZm01MYtnxCXbB8xphVWRTgnyJbZM+KDldlRZZyClY5RLW3qH/I+TTifuWcT+ptsijLIcu6vMNQ6Iqc0E5vUFflY3XrE20va9jnJkRe8E7HroR3c9SP7lN2dG8GnzOi6ode4WTIrkXlZ4T/k5dVUwD+h0VZPTwXagorsYrBAaV8jNt5M5cWSBd4KvK4Q2F8NKX2eOebLiQ47NdhPJXG7SLxPF88l7mtJVODKqxTXUFy6apU+vf9w3OY0fX967u74WEO2CQorYJ1HgC3yxbc5zUtlzjtLpKRCFkI2kPbz3gA5EKX6XydYAyGIBFr7ZqPtjLUF/3qZNP5lA2phVyO49Mc3sUBfZ0hzGy6uepgTx1PcRBCqDT4QXuNJJKMJ8Cmm0Sq8XZrzPFK9Y84lLgbGGbZhaulHhSXF8O2DlvIIFwWOU7PbV52KiUw4oO9G//qxWU1BKnLk5wne23j1uAmT20ueR8Rg1WsPqc1wPT8uFGg5ueiVrYgdizGxV5zsEwRiOto+nwQ6IJf77HUi0CxkRZOatYhRRH5zXnhBNCm+ZcUdpr806Q+vuyriBPNug04Fa6KaaY="

services:
  - mysql

env:
  global:
    - COMPOSER_ARGS=--no-interaction
    - PLUGIN_NAME=WirecardElasticEngine
    - SHOPWARE_DIRECTORY=${HOME}/shopware
    - SHOPWARE_RELEASES_FILE=./.bin/compatible-shop-releases.txt
    - SHOP_SYSTEM_UPDATE_COMMIT=UpdateLatestShopReleases
    - MANUAL_UITEST_TRIGGER_COMMIT=TestMyBuild
    - PATCH_RELEASE=patch
    - MINOR_RELEASE=minor
    - MAJOR_RELEASE=major
    - SHOPWARE_COMPATIBILITY_FILE=./.bin/new-shop-releases.txt

jobs:
  allow_failures:
  - stage: acceptance-test
    env:
      - GATEWAY=API-TEST
      - SHOP_RELEASE=1
      - ALLOW_FAIL=1
  - stage: acceptance-test
    env:
      - GATEWAY=API-TEST
      - SHOP_RELEASE=1
      - LATEST_EXTENSION_RELEASE=1
      - ALLOW_FAIL=1

  include:
  - php: 7.2
    if: type != cron AND commit_message !~ env(SHOP_SYSTEM_UPDATE_COMMIT) AND commit_message !~ env(MANUAL_UITEST_TRIGGER_COMMIT)

  - &acceptance-test
    stage: acceptance-test
    # run this stage on pull request if head branch name contains one of these words (patch, major, minor)
    # or when build triggered ad-hoc with special commit message
    # will use branch which originated pull request
    # or branch which was defined in ad-hoc trigger in Travis UI
    if: (type = pull_request AND (head_branch =~ env(PATCH_RELEASE) OR head_branch =~ env(MINOR_RELEASE) OR head_branch =~ env(MAJOR_RELEASE))) OR (commit_message =~ env(MANUAL_UITEST_TRIGGER_COMMIT))
    php: 7.2
    env:
      - GATEWAY=API-TEST
      #    shopware version - first line in SHOPWARE_RELEASES_FILE
      - SHOP_RELEASE=1
    install:
      # check if files are same or not
      - cmp --silent ${SHOPWARE_RELEASES_FILE} ${SHOPWARE_COMPATIBILITY_FILE} && export COMPATIBILITY_CHECK=0 || export COMPATIBILITY_CHECK=1
      # check from which file to take versions
      - if [[ ${COMPATIBILITY_CHECK}  == "0" ]]; then export SHOPWARE_VERSION=$(awk "NR==${SHOP_RELEASE} {print; exit}" ${SHOPWARE_RELEASES_FILE}); else export SHOPWARE_VERSION=$(awk "NR==${SHOP_RELEASE} {print; exit}" ${SHOPWARE_COMPATIBILITY_FILE}); fi
      - echo "Testing with Shopware ${SHOPWARE_VERSION} version."
      - export LATEST_RELEASED_SHOP_EXTENSION_VERSION=$(git describe --abbrev=0 --tags)
      - if [[ ${LATEST_EXTENSION_RELEASE}  == "1" ]]; then git checkout tags/${LATEST_RELEASED_SHOP_EXTENSION_VERSION};fi
      - travis_retry composer require --dev $COMPOSER_ARGS satooshi/php-coveralls:^1.0
      - travis_retry composer install --no-dev $COMPOSER_ARGS
      - travis_retry npm install
      - travis_retry npm install mysql --save
      - travis_retry npm install js-php-serialize
      - npm list --depth=0
      - composer show
    script:
      - php ${SHOPWARE_DIRECTORY}/bin/console wirecardelasticengine:payment:activate
      - npm run test:payments
    after_script: skip
    after_success:
      - bash .bin/upload-logs-and-notify.sh
    after_failure: bash .bin/upload-logs-and-notify.sh fail

    # run this stage on pull request if head branch name contains major (on major release)
    # tests will use branch which originated pull request
  - <<: *acceptance-test
    if: type = pull_request AND head_branch =~ env(MAJOR_RELEASE)
    env:
      - GATEWAY=API-TEST
      # shopware version - 2nd line in SHOPWARE_RELEASES_FILE
      - SHOP_RELEASE=2

  # run this stage on pull request if head branch name contains major (on major release)
  # tests will use branch which originated pull request
  - <<: *acceptance-test
    if: type = pull_request AND head_branch =~ env(MAJOR_RELEASE)
    env:
      - GATEWAY=API-TEST
      # shopware version - 3rd line in SHOPWARE_RELEASES_FILE
      - SHOP_RELEASE=3

  # run this stage when shop system updated with latest shop extension release version
  # tests will use tip of master branch
  - <<: *acceptance-test
    # when commit message contains string "Update latest shop releases"
    if: commit_message =~ env(SHOP_SYSTEM_UPDATE_COMMIT)
    env:
      - GATEWAY=API-TEST
      # shopware version - 1st line in SHOPWARE_RELEASES_FILE
      - SHOP_RELEASE=1
      # if this stage fails, it will not fail the whole build
      - ALLOW_FAIL=1

    # run this stage when shop system updated with latest shop extension release version
    # tests will use latest released extension version
  - <<: *acceptance-test
    # when commit message contains string "Update latest shop releases"
    if: commit_message =~ env(SHOP_SYSTEM_UPDATE_COMMIT)
    env:
      - GATEWAY=API-TEST
      # shopware version - 1st line in SHOPWARE_RELEASES_FILE
      - SHOP_RELEASE=1
      - LATEST_EXTENSION_RELEASE=1
      # if this stage fails, it will not fail the whole build
      - ALLOW_FAIL=1

install:
  - travis_retry composer require --dev ${COMPOSER_ARGS} satooshi/php-coveralls:^1.0
  - travis_retry composer install ${COMPOSER_ARGS}
  - travis_retry npm install
  - npm list --depth=0
  - composer show

before_script:
#  install apache
  - sudo apt-get update
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - if [[ ${TRAVIS_PHP_VERSION:0:3} != "5.6" ]]; then sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf; fi
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - sudo sed -i -e "s,www-data,travis,g" /etc/apache2/envvars
  - sudo chown -R travis:travis /var/lib/apache2/fastcgi
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  - sudo cp -f build/travis-ci-apache /etc/apache2/sites-available/000-default.conf
  - sudo sed -e "s?%DOCUMENT_ROOT%?${SHOPWARE_DIRECTORY}?g" --in-place /etc/apache2/sites-available/000-default.conf
  - sudo service apache2 restart

#  install shopware
#  for unit tests a fix Shopware version 5.4 is used
  - if [[ -z "${SHOPWARE_VERSION}" ]]; then export SHOPWARE_VERSION="5.4"; fi && git clone https://github.com/shopware/shopware.git ${SHOPWARE_DIRECTORY} --branch ${SHOPWARE_VERSION}
  - ant -f ${SHOPWARE_DIRECTORY}/build/build.xml -Dapp.host=localhost:8000 -Ddb.user=travis -Ddb.host=127.0.0.1 -Ddb.name=shopware build-unit
  - cp ${TRAVIS_BUILD_DIR}/build/travis-shopware-config.php ${SHOPWARE_DIRECTORY}/config.php
  - mv ${TRAVIS_BUILD_DIR} ${SHOPWARE_DIRECTORY}/custom/plugins/${PLUGIN_NAME}
  - php ${SHOPWARE_DIRECTORY}/bin/console sw:plugin:refresh
  - php ${SHOPWARE_DIRECTORY}/bin/console sw:plugin:install ${PLUGIN_NAME}
  - php ${SHOPWARE_DIRECTORY}/bin/console sw:plugin:activate ${PLUGIN_NAME}
  - php ${SHOPWARE_DIRECTORY}/bin/console sw:cache:clear
  - rm -rf ${SHOPWARE_DIRECTORY}/var/cache
  - cd  Tests/_data/ && php configure_payment_method_db.php CreditCard
  - cd ${SHOPWARE_DIRECTORY}/custom/plugins/${PLUGIN_NAME}

script:
  - composer cs-check
  - npm run lint
  - composer test-coverage

after_script:
  - travis_retry composer upload-coverage

after_failure:
  - sudo cat /var/log/apache2/error.log
  - cat ${SHOPWARE_DIRECTORY}/composer.lock
  - cat ${SHOPWARE_DIRECTORY}/var/log/*.log

notifications:
  email: false
  slack:
    rooms:
      secure: YI7sUrfMyKyJD60kElGkO7yBDkGEh+069yS8bFAIDUST7s48J+dDP/r2G9dN9oQwhs9hvNjpNytpZDPys838T+Z0mNtFZ9Wu022hV3MpbKUuMl7L9P0MQQmxjg4bKyKK3Hl9tPrZ3UsKRlwIUmRGGYQ7cjs4zumorqs19YsB3X+WnnxAmmYB3kHQYfNKgVnmcG2QHJyx5KaLZ0EsWynSHXkYb8bVCtdlbQFNnpChvGHPprZrHAszLCYnlU7AEZGdbuk17oIfXO9Wjuu1GV8iJ2VgKkTCzW4FBC5eHJyZezojPFUm1I5tvdihRZuyBekVGOF23J6pvHLqPx77clT+/Vn6T+UMDuh1INZ0LKt4UOU42oEDKGblWZx2VYWcHwfEK+ckJWZkT9EBfg/CMenJly2tbtBj6++XNvxgGEDn6XqKIEatcb7X/aiy4f8BPXa3/pzgZAlvzZbGGqHFNZPAlgcXBBXgbaC7VvMhvi6Z5AG5ylKzPS5GCD95ozPC+cGv0234TBJus5oZck4qNiT53IUQ7Ta+OGVB0Mea105VAoQI0I7YcgaqW6c4h2YTmnuuQsIzAwPOrJ5TAinj8Z8mZ9C11tEcNF3Pgy1tOoG/YLurhOJm7v1ebotRb/DIeSHU8RfNatnDSSky4YS6Y8k2pQthdC9m7m2f2mJYuGdLjlM=
    template:
      - "%{repository}#%{build_number} (%{branch} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
    on_success: change
    on_failure: change
