<?xml version="1.0" encoding="utf-8"?>
<!--
 * Shop System Plugins:
 * - Terms of Use can be found under:
 * https://github.com/wirecard/shopware-ee/blob/master/_TERMS_OF_USE
 * - License can be found under:
 * https://github.com/wirecard/shopware-ee/blob/master/LICENSE
-->
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Wirecard</label>

    <version>1.2.1</version>
    <compatibility minVersion="5.4.0" />

    <author>Wirecard AG</author>
    <link>https://www.wirecard.com/</link>
    <license>GPL-3.0</license>
</plugin>
