<?xml version="1.0" encoding="utf-8"?>
<!--
 * Shop System Plugins - Terms of Use
 *
 * The plugins offered are provided free of charge by Wirecard AG and are explicitly not part
 * of the Wirecard AG range of products and services.
 *
 * They have been tested and approved for full functionality in the standard configuration
 * (status on delivery) of the corresponding shop system. They are under General Public
 * License version 3 (GPLv3) and can be used, developed and passed on to third parties under
 * the same terms.
 *
 * However, Wirecard AG does not provide any guarantee or accept any liability for any errors
 * occurring when used in an enhanced, customized shop system configuration.
 *
 * Operation in an enhanced, customized configuration is at your own risk and requires a
 * comprehensive test phase by the user of the plugin.
 *
 * Customers use the plugins at their own risk. Wirecard AG does not guarantee their full
 * functionality neither does Wirecard AG assume liability for any disadvantages related to
 * the use of the plugins. Additionally, Wirecard AG does not guarantee the full functionality
 * for customized shop systems or installed plugins of other vendors of plugins within the same
 * shop system.
 *
 * Customers are responsible for testing the plugin's functionality before starting productive
 * operation.
 *
 * By installing the plugin into the shop system the customer agrees to these terms of use.
 * Please do not use the plugin if you do not agree to these terms of use!
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <!-- General -->
        <element type="button" scope="shop">
            <name>wirecardElasticEngineGeneralInformation</name>
            <label lang="de">Allgemeine Informationen zum Wirecard Shop Plugin</label>
            <label lang="en">Wirecard Shop Plugin General Information</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    Ext.create('Shopware.apps.WirecardElasticEngineExtendOrder.view.GeneralInformationWindow').show();
}
                    ]]>
                </handler>
            </options>
        </element>
        <element type="button" scope="shop">
            <name>wirecardElasticEngineGeneralChat</name>
            <label lang="de">LiveChat mit Support</label>
            <label lang="en">LiveChat with Support</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    wirecardeeChatOpen();
}
                    ]]>
                </handler>
            </options>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineNotifyMail</name>
            <label lang="de">E-Mail für Zahlungsbenachrichtigungen</label>
            <label lang="en">E-mail for payment notifications</label>
            <value></value>
            <description lang="de">
                Tragen Sie Ihre E-Mail-Adresse ein, um eine Zahlungsbenachrichtigung für jede eingehende
                Zahlungsbestätigung per E-Mail zu erhalten.
            </description>
            <description lang="en">
                Enter your e-mail address to receive a payment notification for each incoming payment confirmation
                via e-mail.
            </description>
            <options>
                <vtype>email</vtype>
            </options>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEnginePendingMail</name>
            <label lang="de">Sende Mails bei ausstehendem Zahlungsstatus</label>
            <label lang="en">Send pending status mails</label>
            <value>false</value>
            <description lang="de">
                Wenn diese Option aktiviert ist, erhalten Kunden eine E-Mail mit der Information,
                dass die Zahlung noch nicht abgeschlossen ist.
            </description>
            <description lang="en">
                If enabled, consumers get an e-mail containing the information that the payment is not yet finalized.
            </description>
        </element>
        <!-- General End -->
        <!-- Credit Card -->
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardServer</name>
            <label lang="de">[Kreditkarte] Base URL</label>
            <label lang="en">[Credit Card] Base URL</label>
            <value>https://api-test.wirecard.com</value>
            <description lang="de">Wirecard Base URL (z.B. https://api.wirecard.com)</description>
            <description lang="en">Wirecard Base URL (e.g. https://api.wirecard.com)</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardHttpUser</name>
            <label lang="de">[Kreditkarte] HTTP Benutzer</label>
            <label lang="en">[Credit Card] HTTP User</label>
            <value>70000-APITEST-AP</value>
            <description lang="de">Wirecard HTTP Benutzer laut Vertrag mit Wirecard.</description>
            <description lang="en">HTTP User as provided in your Wirecard contract.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardHttpPassword</name>
            <label lang="de">[Kreditkarte] HTTP Passwort</label>
            <label lang="en">[Credit Card] HTTP Password</label>
            <value>qD2wzQ_hrc!8</value>
            <description lang="de">Wirecard HTTP Passwort laut Vertrag mit Wirecard.</description>
            <description lang="en">HTTP Password as provided in your Wirecard contract.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardMerchantId</name>
            <label lang="de">[Kreditkarte] Händler-Konto-ID</label>
            <label lang="en">[Credit Card] Merchant Account ID</label>
            <value>53f2895a-e4de-4e82-a813-0d87a10e55e6</value>
            <description lang="de">Eindeutige Händler-Konto-ID laut Vertrag mit Wirecard.</description>
            <description lang="en">Unique identifier assigned to your merchant account.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardSecret</name>
            <label lang="de">[Kreditkarte] Geheimschlüssel</label>
            <label lang="en">[Credit Card] Secret Key</label>
            <value>dbc5a498-9a66-43b9-bf1d-a618dd399684</value>
            <description lang="de">Der Geheimschlüssel wird benötigt, um die Digitale Signatur für Zahlungen zu
                berechnen.
            </description>
            <description lang="en">Secret Key is mandatory to calculate the Digital Signature for payments.
            </description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardThreeDMAID</name>
            <label lang="de">[Kreditkarte] 3-D Secure Händler-Konto-ID</label>
            <label lang="en">[Credit Card] 3-D Secure Merchant Account ID</label>
            <value>508b8896-b37d-4614-845c-26bf8bf2c948</value>
            <description lang="de">
                Geben Sie Ihren 3D Händler Bezeichner an. Tragen Sie "null" ein, um 3-D Secure zu deaktivieren.
            </description>
            <description lang="en">
                Unique identifier assigned to your 3-D Secure merchant account. Enter "null" to disable 3-D Secure.
            </description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardThreeDSecret</name>
            <label lang="de">[Kreditkarte] 3-D Secure Geheimschlüssel</label>
            <label lang="en">[Credit Card] 3-D Secure Secret Key</label>
            <value>dbc5a498-9a66-43b9-bf1d-a618dd399684</value>
            <description lang="de">
                Der Geheimschlüssel wird benötigt um die Digitale Signatur für diese 3D Zahlung zu berechnen.
            </description>
            <description lang="en">
                Secret Key is mandatory to calculate the Digital Signature for the 3-D Secure payment.
            </description>
        </element>
        <element type="select" scope="shop">
            <name>wirecardElasticEngineCreditCardTransactionType</name>
            <label lang="de">[Kreditkarte] Zahlungsaktion</label>
            <label lang="en">[Credit Card] Payment Action</label>
            <value>pay</value>
            <description lang="de">
                Wählen Sie zwischen "Purchase" um automatisch eine Buchung durchzuführen oder
                "Authorization" um eine manuelle Buchung zu ermöglichen.
            </description>
            <description lang="en">
                Select between "Purchase" to capture/invoice your order automatically or
                "Authorization" to capture/invoice manually.
            </description>
            <store>
                <option>
                    <value>reserve</value>
                    <label lang="de">Authorization</label>
                    <label lang="en">Authorization</label>
                </option>
                <option>
                    <value>pay</value>
                    <label lang="de">Purchase</label>
                    <label lang="en">Purchase</label>
                </option>
            </store>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEngineCreditCardFraudPrevention</name>
            <label lang="de">[Kreditkarte] Zusätzliche Informationen mitsenden</label>
            <label lang="en">[Credit Card] Send additional information</label>
            <value>true</value>
            <description lang="de">
                Zusätzliche Informationen werden für Betrugsschutz gesendet. In diesen Daten sind
                Rechnungs- / Lieferadresse, Warenkorb und Deskriptor inkludiert.
            </description>
            <description lang="en">
                Additional data will be sent for the purpose of fraud protection. This additional
                data includes billing/shipping address, shopping basket and descriptor.
            </description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardSslMaxLimit</name>
            <label lang="de">[Kreditkarte] Non 3-D Secure Maximal Limit</label>
            <label lang="en">[Credit Card] Non 3-D Secure Max. Limit</label>
            <value>300</value>
            <description lang="de">
                Ab diesem Betrag wird die Benutzung von 3-D Secure erzwungen.
                Tragen Sie "null" ein, um kein Non 3-D Secure Maximal Limit zu setzen.
            </description>
            <description lang="en">
                This amount forces 3-D Secure transactions.
                Enter "null" to disable the Non 3-D Secure Maximal Limit.
            </description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardSslMaxLimitCurrency</name>
            <label lang="de">[Kreditkarte] Non 3-D Secure Maximal Limit Währung</label>
            <label lang="en">[Credit Card] Non 3-D Secure Max. Limit Currency</label>
            <value></value>
            <description lang="de">Leer lassen für Standard Shop Währung.</description>
            <description lang="en">Leave blank for default shop currency.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardThreeDMinLimit</name>
            <label lang="de">[Kreditkarte] 3-D Secure Minimum Limit</label>
            <label lang="en">[Credit Card] 3-D Secure Min. Limit</label>
            <value>100</value>
            <description lang="de">
                Ab diesem Betrag wird die Verwendung von 3-D Secure versucht.
                Tragen Sie "null" ein, um kein 3-D Secure Minimum Limit zu setzen.
            </description>
            <description lang="en">
                This amount attempts 3-D Secure transactions.
                Enter "null" to disable the 3-D Secure Min. Limit.
            </description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardThreeDMinLimitCurrency</name>
            <label lang="de">[Kreditkarte] 3-D Secure Minimum Limit Währung</label>
            <label lang="en">[Credit Card] 3-D Secure Min. Limit Currency</label>
            <value></value>
            <description lang="de">Leer lassen für Standard Shop Währung.</description>
            <description lang="en">Leave blank for default shop currency.</description>
        </element>
        <element type="button" scope="shop">
            <name>wirecardElasticEngineCreditCardTestApi</name>
            <label lang="de">[Kreditkarte] Konfiguration testen</label>
            <label lang="en">[Credit Card] Test configuration</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    wirecardeeTestPaymentCredentials(button, 'CreditCard', 'Wirecard Credit Card Test');
}
                    ]]>
                </handler>
            </options>
        </element>
        <element type="button" scope="shop">
            <name>wirecardElasticEngineCreditCardThreeDDescription</name>
            <label lang="de">[Kreditkarte] Erklärung zu Non 3-D Secure und 3-D Secure Limits öffnen</label>
            <label lang="en">[Credit Card] Open explanation regarding Non 3-D Secure and 3-D Secure limits</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    window.open('https://raw.githubusercontent.com/wiki/wirecard/woocommerce-ee/img/creditcard-ssl-3d-new.png','_blank');
}
                    ]]>
                </handler>
            </options>
        </element>
        <!-- Credit Card End -->
        <!-- PayPal -->
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalServer</name>
            <label lang="de">[PayPal] Base URL</label>
            <label lang="en">[PayPal] Base URL</label>
            <value>https://api-test.wirecard.com</value>
            <description lang="de">Wirecard Base URL (z.B. https://api.wirecard.com)</description>
            <description lang="en">Wirecard Base URL (e.g. https://api.wirecard.com)</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalHttpUser</name>
            <label lang="de">[PayPal] HTTP Benutzer</label>
            <label lang="en">[PayPal] HTTP User</label>
            <value>70000-APITEST-AP</value>
            <description lang="de">Wirecard HTTP Benutzer laut Vertrag mit Wirecard.</description>
            <description lang="en">HTTP User as provided in your Wirecard contract.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalHttpPassword</name>
            <label lang="de">[PayPal] HTTP Passwort</label>
            <label lang="en">[PayPal] HTTP Password</label>
            <value>qD2wzQ_hrc!8</value>
            <description lang="de">Wirecard HTTP Passwort laut Vertrag mit Wirecard.</description>
            <description lang="en">HTTP Password as provided in your Wirecard contract.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalMerchantId</name>
            <label lang="de">[PayPal] Händler-Konto-ID</label>
            <label lang="en">[PayPal] Merchant Account ID</label>
            <value>2a0e9351-24ed-4110-9a1b-fd0fee6bec26</value>
            <description lang="de">Eindeutige Händler-Konto-ID laut Vertrag mit Wirecard.</description>
            <description lang="en">Unique identifier assigned to your merchant account.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalSecret</name>
            <label lang="de">[PayPal] Geheimschlüssel</label>
            <label lang="en">[PayPal] Secret Key</label>
            <value>dbc5a498-9a66-43b9-bf1d-a618dd399684</value>
            <description lang="de">
                Der Geheimschlüssel wird benötigt, um die Digitale Signatur für Zahlungen zu berechnen.
            </description>
            <description lang="en">
                Secret Key is mandatory to calculate the Digital Signature for payments.
            </description>
        </element>
        <element type="select" scope="shop">
            <name>wirecardElasticEnginePaypalTransactionType</name>
            <label lang="de">[PayPal] Zahlungsaktion</label>
            <label lang="en">[PayPal] Payment Action</label>
            <value>pay</value>
            <description lang="de">
                Wählen Sie zwischen "Purchase" um automatisch eine Buchung durchzuführen oder
                "Authorization" um eine manuelle Buchung zu ermöglichen.
            </description>
            <description lang="en">
                Select between "Purchase" to capture/invoice your order automatically or
                "Authorization" to capture/invoice manually.
            </description>
            <store>
                <option>
                    <value>reserve</value>
                    <label lang="de">Authorization</label>
                    <label lang="en">Authorization</label>
                </option>
                <option>
                    <value>pay</value>
                    <label lang="de">Purchase</label>
                    <label lang="en">Purchase</label>
                </option>
            </store>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEnginePaypalSendBasket</name>
            <label lang="de">[PayPal] Warenkorb senden</label>
            <label lang="en">[PayPal] Send basket</label>
            <value>true</value>
            <description lang="de">Sende den Warenkorb an PayPal</description>
            <description lang="en">Send basket to PayPal</description>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEnginePaypalFraudPrevention</name>
            <label lang="de">[PayPal] Zusätzliche Informationen mitsenden</label>
            <label lang="en">[PayPal] Send additional information</label>
            <value>true</value>
            <description lang="de">
                Zusätzliche Informationen werden für Betrugsschutz gesendet. In diesen Daten sind
                Rechnungs- / Lieferadresse, Warenkorb und Deskriptor inkludiert.
            </description>
            <description lang="en">
                Additional data will be sent for the purpose of fraud protection. This additional
                data includes billing/shipping address, shopping basket and descriptor.
            </description>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEnginePaypalDescriptor</name>
            <label lang="de">[PayPal] Deskriptor</label>
            <label lang="en">[PayPal] Descriptor</label>
            <value>true</value>
            <description lang="de">
                Aktivieren Sie den Deskriptor, um bei jeder Transaktion eine Referenz zur jeweiligen
                Bestellung mitzuschicken. Diese Referenz wird im Buchungstext angezeigt, der dem Endkunden vom
                Finanzdienstleister übermittelt wird.
            </description>
            <description lang="en">
                Send text which is displayed on the bank statement issued to your consumer by the
                financial service provider.
            </description>
        </element>
        <element type="button" scope="shop">
            <name>wirecardElasticEngineTestApi</name>
            <label lang="de">[PayPal] Konfiguration testen</label>
            <label lang="en">[PayPal] Test configuration</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    wirecardeeTestPaymentCredentials(button, 'Paypal', 'Wirecard PayPal Test');
}
                    ]]>
                </handler>
            </options>
        </element>
        <!-- PayPal End -->
        <!-- SEPA Direct Debit -->
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaServer</name>
            <label lang="de">[SEPA-Lastschrift] Base URL</label>
            <label lang="en">[SEPA Direct Debit] Base URL</label>
            <value>https://api-test.wirecard.com</value>
            <description lang="de">Wirecard Base URL (z.B. https://api.wirecard.com)</description>
            <description lang="en">Wirecard Base URL (e.g. https://api.wirecard.com)</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaHttpUser</name>
            <label lang="de">[SEPA-Lastschrift] HTTP Benutzer</label>
            <label lang="en">[SEPA Direct Debit] HTTP User</label>
            <value>16390-testing</value>
            <description lang="de">Wirecard HTTP Benutzer laut Vertrag mit Wirecard.</description>
            <description lang="en">HTTP User as provided in your Wirecard contract.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaHttpPassword</name>
            <label lang="de">[SEPA-Lastschrift] HTTP Passwort</label>
            <label lang="en">[SEPA Direct Debit] HTTP Password</label>
            <value>3!3013=D3fD8X7</value>
            <description lang="de">Wirecard HTTP Passwort laut Vertrag mit Wirecard.</description>
            <description lang="en">HTTP Password as provided in your Wirecard contract.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaMerchantId</name>
            <label lang="de">[SEPA-Lastschrift] Händler-Konto-ID</label>
            <label lang="en">[SEPA Direct Debit] Merchant Account ID</label>
            <value>933ad170-88f0-4c3d-a862-cff315ecfbc0</value>
            <description lang="de">Eindeutige Händler-Konto-ID laut Vertrag mit Wirecard.</description>
            <description lang="en">Unique identifier assigned to your merchant account.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaSecret</name>
            <label lang="de">[SEPA-Lastschrift] Geheimschlüssel</label>
            <label lang="en">[SEPA Direct Debit] Secret Key</label>
            <value>ecdf5990-0372-47cd-a55d-037dccfe9d25</value>
            <description lang="de">
                Der Geheimschlüssel wird benötigt, um die Digitale Signatur für Zahlungen zu berechnen.
            </description>
            <description lang="en">
                Secret Key is mandatory to calculate the Digital Signature for payments.
            </description>
        </element>
        <element type="select" scope="shop">
            <name>wirecardElasticEngineSepaTransactionType</name>
            <label lang="de">[SEPA-Lastschrift] Zahlungsaktion</label>
            <label lang="en">[SEPA Direct Debit] Payment Action</label>
            <value>pay</value>
            <description lang="de">
                Wählen Sie zwischen "Purchase" um automatisch eine Buchung durchzuführen oder
                "Authorization" um eine manuelle Buchung zu ermöglichen.
            </description>
            <description lang="en">
                Select between "Purchase" to capture/invoice your order automatically or
                "Authorization" to capture/invoice manually.
            </description>
            <store>
                <option>
                    <value>reserve</value>
                    <label lang="de">Authorization</label>
                    <label lang="en">Authorization</label>
                </option>
                <option>
                    <value>pay</value>
                    <label lang="de">Purchase</label>
                    <label lang="en">Purchase</label>
                </option>
            </store>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEngineSepaFraudPrevention</name>
            <label lang="de">[SEPA-Lastschrift] Zusätzliche Informationen mitsenden</label>
            <label lang="en">[SEPA Direct Debit] Send additional information</label>
            <value>true</value>
            <description lang="de">
                Zusätzliche Informationen werden für Betrugsschutz gesendet. In diesen Daten sind
                Rechnungs- / Lieferadresse, Warenkorb und Deskriptor inkludiert.
            </description>
            <description lang="en">
                Additional data will be sent for the purpose of fraud protection. This additional
                data includes billing/shipping address, shopping basket and descriptor.
            </description>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEngineSepaShowBic</name>
            <label lang="de">[SEPA-Lastschrift] BIC aktivieren</label>
            <label lang="en">[SEPA Direct Debit] BIC enabled</label>
            <value>false</value>
            <description lang="de">Wenn BIC aktivierst ist, wird das BIC Eingabefeld angezeigt.</description>
            <description lang="en">If BIC is activated, the consumer must enter a BIC in checkout.</description>
        </element>
        <element required="true" type="text" scope="shop">
            <name>wirecardElasticEngineSepaCreditorId</name>
            <label lang="de">[SEPA-Lastschrift] Creditor ID</label>
            <label lang="en">[SEPA Direct Debit] Creditor ID</label>
            <value>DE98ZZZ09999999999</value>
            <description lang="de">
                Die Creditor ID wird benötigt, um das SEPA-Lastschrift-Mandat zu erstellen. Die
                Creditor ID muss beim zuständigen Bankinstitut angefordert werden.
            </description>
            <description lang="en">
                SEPA requires Creditor ID to create SEPA Direct Debit Mandate. To get a Creditor ID
                apply at the responsible bank institute.
            </description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaCreditorName</name>
            <label lang="de">[SEPA-Lastschrift] Creditor Name</label>
            <label lang="en">[SEPA Direct Debit] Creditor Name</label>
            <value></value>
            <description lang="de">
                Für das SEPA-Lastschrift-Mandat wird der Name des Zahlungsempfängers (Creditor) benötigt.
            </description>
            <description lang="en">
                SEPA requires a Creditor Name for display on the SEPA Direct Debit Mandate page.
            </description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaCreditorAddress</name>
            <label lang="de">[SEPA-Lastschrift] Creditor Adresse</label>
            <label lang="en">[SEPA Direct Debit] Creditor Address</label>
            <value></value>
            <description lang="de">Für das SEPA-Lastschrift-Mandat wird die Adresse des Zahlungsempfängers (Creditor)
                benötigt.
            </description>
            <description lang="en">SEPA requires a Creditor Address for display on the SEPA Direct Debit Mandate page.
            </description>
        </element>
        <element type="button" scope="shop">
            <name>wirecardElasticEngineSepaTestApi</name>
            <label lang="de">[SEPA-Lastschrift] Konfiguration testen</label>
            <label lang="en">[SEPA Direct Debit] Test configuration</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    wirecardeeTestPaymentCredentials(button, 'Sepa', 'Wirecard SEPA Direct Debit Test');
}
                    ]]>
                </handler>
            </options>
        </element>
        <!-- SEPA Direct Debit End -->
        <!-- SEPA Credit Transfer -->
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaBackendMerchantId</name>
            <label lang="de">[SEPA Credit Transfer] Händler-Konto-ID</label>
            <label lang="en">[SEPA Credit Transfer] Merchant Account ID</label>
            <value>59a01668-693b-49f0-8a1f-f3c1ba025d45</value>
            <description lang="de">Eindeutige Händler-Konto-ID laut Vertrag mit Wirecard.</description>
            <description lang="en">Unique identifier assigned to your merchant account.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSepaBackendSecret</name>
            <label lang="de">[SEPA Credit Transfer] Geheimschlüssel</label>
            <label lang="en">[SEPA Credit Transfer] Secret Key</label>
            <value>ecdf5990-0372-47cd-a55d-037dccfe9d25</value>
            <description lang="de">
                Der Geheimschlüssel wird benötigt, um die Digitale Signatur für Zahlungen zu berechnen.
            </description>
            <description lang="en">
                Secret Key is mandatory to calculate the Digital Signature for payments.
            </description>
        </element>
        <element required="true" type="text" scope="shop">
            <name>wirecardElasticEngineSepaBackendCreditorId</name>
            <label lang="de">[SEPA Credit Transfer] Creditor ID</label>
            <label lang="en">[SEPA Credit Transfer] Creditor ID</label>
            <value>DE98ZZZ09999999999</value>
            <description lang="de">
                Die Creditor ID wird benötigt, um das SEPA-Lastschrift-Mandat zu erstellen. Die
                Creditor ID muss beim zuständigen Bankinstitut angefordert werden.
            </description>
            <description lang="en">
                SEPA requires Creditor ID to create SEPA Direct Debit Mandate. To get a Creditor ID
                apply at the responsible bank institute.
            </description>
        </element>
        <!-- SEPA Credit Transfer End -->
        <!-- Sofort. -->
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSofortServer</name>
            <label lang="de">[Sofort.] Base URL</label>
            <label lang="en">[Sofort.] Base URL</label>
            <value>https://api-test.wirecard.com</value>
            <description lang="de">Wirecard Base URL (z.B. https://api.wirecard.com)</description>
            <description lang="en">Wirecard Base URL (e.g. https://api.wirecard.com)</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSofortHttpUser</name>
            <label lang="de">[Sofort.] HTTP Benutzer</label>
            <label lang="en">[Sofort.] HTTP User</label>
            <value>16390-testing</value>
            <description lang="de">Wirecard HTTP Benutzer laut Vertrag mit Wirecard.</description>
            <description lang="en">HTTP User as provided in your Wirecard contract.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSofortHttpPassword</name>
            <label lang="de">[Sofort.] HTTP Passwort</label>
            <label lang="en">[Sofort.] HTTP Password</label>
            <value>3!3013=D3fD8X7</value>
            <description lang="de">Wirecard HTTP Passwort laut Vertrag mit Wirecard.</description>
            <description lang="en">HTTP Password as provided in your Wirecard contract.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSofortMerchantId</name>
            <label lang="de">[Sofort.] Händler-Konto-ID</label>
            <label lang="en">[Sofort.] Merchant Account ID</label>
            <value>6c0e7efd-ee58-40f7-9bbd-5e7337a052cd</value>
            <description lang="de">Eindeutige Händler-Konto-ID laut Vertrag mit Wirecard.</description>
            <description lang="en">Unique identifier assigned to your merchant account.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineSofortSecret</name>
            <label lang="de">[Sofort.] Geheimschlüssel</label>
            <label lang="en">[Sofort.] Secret Key</label>
            <value>dbc5a498-9a66-43b9-bf1d-a618dd399684</value>
            <description lang="de">
                Der Geheimschlüssel wird benötigt, um die Digitale Signatur für Zahlungen zu berechnen.
            </description>
            <description lang="en">
                Secret Key is mandatory to calculate the Digital Signature for payments.
            </description>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEngineSofortFraudPrevention</name>
            <label lang="de">[Sofort.] Zusätzliche Informationen mitsenden</label>
            <label lang="en">[Sofort.] Send additional information</label>
            <value>true</value>
            <description lang="de">
                Zusätzliche Informationen werden für Betrugsschutz gesendet. In diesen Daten sind
                Rechnungs- / Lieferadresse, Warenkorb und Deskriptor inkludiert.
            </description>
            <description lang="en">
                Additional data will be sent for the purpose of fraud protection. This additional
                data includes billing/shipping address, shopping basket and descriptor.
            </description>
        </element>
        <element type="button" scope="shop">
            <name>wirecardElasticEngineSofortTestApi</name>
            <label lang="de">[Sofort.] Konfiguration testen</label>
            <label lang="en">[Sofort.] Test configuration</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    wirecardeeTestPaymentCredentials(button, 'Sofort', 'Wirecard Sofort. Test');
}
                    ]]>
                </handler>
            </options>
        </element>
        <!-- Sofort. End -->
    </elements>
</config>
