<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalServer</name>
            <label lang="de">[PayPal] Wirecard Server Url</label>
            <label lang="en">[PayPal] Wirecard Server Url</label>
            <value>https://api-test.wirecard.com</value>
            <description lang="de">Wirecard Basis Url (z.B. http://api-test.wirecard.com)</description>
            <description lang="en">Wirecard Base Url (e.g. http://api-test.wirecard.com)</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalHttpUser</name>
            <label lang="de">[PayPal] HTTP Benutzer</label>
            <label lang="en">[PayPal] HTTP User</label>
            <value>70000-APITEST-AP</value>
            <description lang="de">HTTP Benutzer</description>
            <description lang="en">HTTP User</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalHttpPassword</name>
            <label lang="de">[PayPal] HTTP Passwort</label>
            <label lang="en">[PayPal] HTTP Password</label>
            <value>qD2wzQ_hrc!8</value>
            <description lang="de">HTTP Passwort</description>
            <description lang="en">HTTP Password</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalMerchandId</name>
            <label lang="de">[PayPal] Händler ID</label>
            <label lang="en">[PayPal] Merchant ID</label>
            <value>2a0e9351-24ed-4110-9a1b-fd0fee6bec26</value>
            <description lang="de">Eindeutige Händler-ID Ihres Wirecard Konto</description>
            <description lang="en">Unique merchant account id to Wirecard</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEnginePaypalSecret</name>
            <label lang="de">[PayPal] Geheimschlüssel</label>
            <label lang="en">[PayPal] Secret Key</label>
            <value>dbc5a498-9a66-43b9-bf1d-a618dd399684</value>
            <description lang="de">Geheimschlüssel für die digitale Signatur</description>
            <description lang="en">Secret key for digital signature</description>
        </element>
        <element type="button" scope="shop">
            <name>wirecardElasticEngineTestApi</name>
            <label lang="de">[PayPal] Konfiguration testen</label>
            <label lang="en">[PayPal] Test settings</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    var url = document.location.pathname + 'wirecardTransactions/testSettings',
        btn = button,
        panel = button.up('panel'),
        formFields = panel.query('[isFormField]'),
        values = {};

    Ext.Array.each(formFields, function(el, i) {
        var val = el.getSubmitValue();
        values[el.elementName] = val;
    });

    values['method'] = 'Paypal';

    Ext.Ajax.request({
        url: url,
        params: values,
        success: function (response) {
            var data = Ext.decode(response.responseText);

            if( data.status == 'success' ) {
                text = '<span style=\"color: green;font-weight: bold;\">Test successfull</span>';
            } else {
                text = '<span style=\"color: red;font-weight: bold;\">Test failed</span>';
                if ( data.msg ) {
                    text += '<br>' + data.msg;
                }
            }
            Shopware.Notification.createStickyGrowlMessage({
                title: "Wirecard PayPal test",
                text: text,
                width: 440,
                log: false,
            });
        }
    })
}
                    ]]>
                </handler>
            </options>
        </element>
        <element type="select" scope="shop">
            <name>wirecardElasticEnginePaypalTransactionType</name>
            <label lang="de">[PayPal] Transaktionsart</label>
            <label lang="en">[PayPal] Transaction Type</label>
            <value>purchase</value>
            <store>
                <option>
                    <value>authorization</value>
                    <label lang="de">Authorizieren</label>
                    <label lang="en">authorization</label>
                </option>
                <option>
                    <value>purchase</value>
                    <label lang="de">direkt bezahlen</label>
                    <label lang="en">purchase</label>
                </option>
            </store>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEnginePaypalSendBasket</name>
            <label lang="de">[PayPal] Warenkorb senden</label>
            <label lang="en">[PayPal] Send basket</label>
            <value>true</value>
            <description lang="de">Sende den Warenkorb an PayPal</description>
            <description lang="en">Send basket to PayPal</description>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEnginePaypalFraudPrevention</name>
            <label lang="de">[PayPal] Zusätzliche Kundendaten</label>
            <label lang="en">[PayPal] Additional Consumer Data</label>
            <value>true</value>
            <description lang="de">Sende Kundendaten an Wirecard zur Betrugsprevention</description>
            <description lang="en">Send consumer data to Wirecard for fraud prevention</description>
        </element>
        <element type="boolean" scope="shop">
            <name>wirecardElasticEnginePaypalDescriptor</name>
            <label lang="de">[PayPal] Beschreibung senden</label>
            <label lang="en">[PayPal] Send descriptor</label>
            <value>true</value>
            <description lang="de">Sende Beschreibung</description>
            <description lang="en">Send descriptor</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardServer</name>
            <label lang="de">[Credit Card] Wirecard Server Url</label>
            <label lang="en">[Credit Card] Wirecard Server Url</label>
            <value>https://api-test.wirecard.com</value>
            <description lang="de">Wirecard Basis Url (z.B. http://api-test.wirecard.com)</description>
            <description lang="en">Wirecard Base Url (e.g. http://api-test.wirecard.com)</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardHttpUser</name>
            <label lang="de">[Credit Card] HTTP Benutzer</label>
            <label lang="en">[Credit Card] HTTP User</label>
            <value>70000-APITEST-AP</value>
            <description lang="de">HTTP Benutzer</description>
            <description lang="en">HTTP User</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardHttpPassword</name>
            <label lang="de">[Credit Card] HTTP Passwort</label>
            <label lang="en">[Credit Card] HTTP Password</label>
            <value>qD2wzQ_hrc!8</value>
            <description lang="de">HTTP Passwort</description>
            <description lang="en">HTTP Password</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardMerchandId</name>
            <label lang="de">[Credit Card] Händler ID</label>
            <label lang="en">[Credit Card] Merchant ID</label>
            <value>53f2895a-e4de-4e82-a813-0d87a10e55e6</value>
            <description lang="de">Eindeutige Händler-ID Ihres Wirecard Konto</description>
            <description lang="en">Unique merchant account id to Wirecard</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCardSecret</name>
            <label lang="de">[Credit Card] Geheimschlüssel</label>
            <label lang="en">[Credit Card] Secret Key</label>
            <value>dbc5a498-9a66-43b9-bf1d-a618dd399684</value>
            <description lang="de">Geheimschlüssel für die digitale Signatur</description>
            <description lang="en">Secret key for digital signature</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCard3dsMerchandId</name>
            <label lang="de">[Credit Card] 3DS Händler ID</label>
            <label lang="en">[Credit Card] 3DS Merchant ID</label>
            <value>508b8896-b37d-4614-845c-26bf8bf2c948</value>
            <description lang="de">Eindeutige 3DS Händler-ID Ihres Wirecard Konto. Leer lassen oder "null" eintrgen , um 3DS zu deaktiviern.</description>
            <description lang="en">Unique 3DS merchant account id to Wirecard. Keep empty or write "null", to deactivate 3DS.</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCard3dsSecret</name>
            <label lang="de">[Credit Card] 3DS Geheimschlüssel</label>
            <label lang="en">[Credit Card] 3DS Secret Key</label>
            <value>dbc5a498-9a66-43b9-bf1d-a618dd399684</value>
            <description lang="de">3DS Geheimschlüssel für die digitale Signatur</description>
            <description lang="en">3DS Secret key for digital signature</description>
        </element>
        <element type="button" scope="shop">
            <name>wirecardElasticEngineCreditCardTestApi</name>
            <label lang="de">[Credit Card] Konfiguration testen</label>
            <label lang="en">[Credit Card] Test settings</label>
            <options>
                <handler>
                    <![CDATA[
function (button) {
    var url = document.location.pathname + 'wirecardTransactions/testSettings',
        btn = button,
        panel = button.up('panel'),
        formFields = panel.query('[isFormField]'),
        values = {};

    Ext.Array.each(formFields, function(el, i) {
        var val = el.getSubmitValue();
        values[el.elementName] = val;
    });

    values['method'] = 'CreditCard';

    Ext.Ajax.request({
        url: url,
        params: values,
        success: function (response) {
            var data = Ext.decode(response.responseText);

            if ( data.status == 'success' ) {
                text = '<span style=\"color: green;font-weight: bold;\">Test successfull</span>';
            } else {
                text = '<span style=\"color: red;font-weight: bold;\">Test failed</span>';
                if ( data.msg ) {
                    text += '<br>' + data.msg;
                }
            }
            Shopware.Notification.createStickyGrowlMessage({
                title: "Wirecard Credit Card test",
                text: text,
                width: 440,
                log: false,
            });
        }
    })
}
                    ]]>
                </handler>
            </options>
        </element>
        <element type="select" scope="shop">
            <name>wirecardElasticEngineCreditCardTransactionType</name>
            <label lang="de">[Credit Card] Transaktionsart</label>
            <label lang="en">[Credit Card] Transaction Type</label>
            <value>purchase</value>
            <store>
                <option>
                    <value>authorization</value>
                    <label lang="de">Authorizieren</label>
                    <label lang="en">authorization</label>
                </option>
                <option>
                    <value>purchase</value>
                    <label lang="de">direkt bezahlen</label>
                    <label lang="en">purchase</label>
                </option>
            </store>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCard3dsOnly</name>
            <label lang="de">[Credit Card] 3DS-Pflicht Betrag</label>
            <label lang="en">[Credit Card] 3DS only amount</label>
            <value>300</value>
            <description lang="de">Ab diesem Betrag wird die Benutzung von 3DS erzwungen.</description>
            <description lang="en">This amount forces usage of 3DS</description>
        </element>
        <element type="text" scope="shop">
            <name>wirecardElasticEngineCreditCard3dsAttempt</name>
            <label lang="de">[Credit Card] 3DS-Versuch Betrag</label>
            <label lang="en">[Credit Card] 3DS attempt amount</label>
            <value>100</value>
            <description lang="de">Ab diesem Betrag wird 3DS versucht zu verwenden.</description>
            <description lang="en">This amount attemps usage of 3DS</description>
        </element>
    </elements>
</config>
