<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>Wirecard</name>
            <label lang="en">Wirecard</label>
            <label lang="de">Wirecard</label>
            <class>sprite--wirecard</class>
            <parent identifiedBy="controller">Payments</parent>
            <children>
                <entry>
                    <name>WirecardTransactions</name>
                    <label lang="en">Transactions</label>
                    <label lang="de">Transaktionen</label>
                    <controller>WirecardTransactions</controller>
                    <action>index</action>
                    <class>sprite-wirecard</class>
                </entry>
                <entry>
                    <name>WirecardLiveChat</name>
                    <label lang="en">LiveChat</label>
                    <label lang="de">LiveChat</label>
                    <controller>WirecardTransactions</controller>
                    <action>livechat</action>
                    <class>sprite-wirecard</class>
                    <onclick>
                        <![CDATA[
                            Ext.util.CSS.createStyleSheet('#lz_overlay_wm {display: inherit !important;}');
                        ]]>
                    </onclick>
                </entry>
            </children>
        </entry>
    </entries>
</menu>
